/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 27 avr. 2023, 20:37:44
    Author     : Nathan
*/

.attractions {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.attractions article {
    width: 20%; border: solid; height: 150px;
}