/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 9 févr. 2023, 01:10:32
    Author     : loufo
*/

/*Partie section et article*/
.Container_Equipe {
  /*border: solid thin; */
  padding: 10px; 
  height: 800px; 
  width: 100%; 
  margin : 10px;
  display: flex;
  flex-direction: row
}
.Container_Equipe article {
  margin: 10px;
}
.item1 {
  /*float: left;*/
  width: 30%; 
  height: 700px; 
  overflow: scroll;
  padding-right: 10px;
}
.item2 {
  /*float: left;*/ 
  width: 30%;
  height: 700px; 
  overflow: scroll; 
  /*margin-left: 50px;*/
  padding-right: 10px;
  padding-left: 10px;
}
.item3 {
  /*float: right;*/
  width: 30%;
  height: 700px; 
  overflow: scroll;
  padding-right: 10px;
  padding-left: 10px;
}


/*Contrôle des images et effets spéciaux*/
.sticky {
/*position: -webkit-sticky;*/
/*position: sticky;*/
top: 30px;
width: 100%;
}

.bloc {
position: relative;
width: 100%;
max-width: 300px;
}

.image {
display: block;
width: 100%;
height: auto;
}

.overlay {
position: absolute; 
bottom: 0; 
background: rgb(0, 0, 0);
background: rgba(0, 0, 0, 0.5); /* Black see-through */
color: #f1f1f1; 
width: 100%;
transition: .5s ease;
opacity:0;
color: white;
font-size: 20px;
padding: 20px;
text-align: center;
}

.bloc:hover .overlay {
opacity: 1;}